body{
    background-color: black;
  display: flex;
    
   width: 50vw;
    padding-top:5vw;
    padding-bottom: 5vw;
    margin-left: 30vw;

}
.content{
    margin-left: 5vw;
  
    justify-content: center;
    background-color: hsl(0, 0%, 8%) ;
    padding: 2vw 4vw 1vw 6vw;
    width: 15vw;
    border-radius: 20px;
}
.txt-white{
    color: white;
}

.txt-yellow{
    color: yellow;
}

img{
    border-radius: 50%
}

.button{
    margin-left: -7px;
}

a{
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    margin-bottom: 10px;
}

.bg-color{
    background-color: hsl(0, 0%, 20%)
}

.rounded-edges{
    border-radius: 5px;
}

header{
    margin-left: -3px;
}